@{
    ViewData["Title"] = "Home Page";
}





    <div class="carousel">
        <div class="carousel-containter"> 
         <img src="~/lib/MicrosoftTeams-image.png" alt="Image 1">
          <img src="~/lib/MicrosoftTeams-image.png" alt="Image 2">  
          <img src="~/lib/MicrosoftTeams-image.png" alt="Image 3">
           </div>
           <div class ="dots">
               <span class = "dot active"></span>
               <span class = "dot"></span>
               <span class = "dot"></span>
           </div>
           <button class = "carousel-prev">&#10094</button>
           <button class="carousel-next">&#10095</button>
    </div>

